<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xjtu.zun.tiesheyuan.dao.UserMapper">
    <sql id="userFields">
        userid, account, password, unit, department, speciality, mobile, email, create_time, update_time, verify_code     
    </sql>
    
    <select id="selectById" resultType="User">
        select <include refid="userFields"/>
        from user
        where id = #{id}
    </select>
    
    <insert id="insertUser" parameterType="User" keyProperty="userid">

    </insert>
</mapper>